@section scripts
{
    <script src="~/components/random-number/random-number.js" asp-append-version="true"></script>
}

<button id="random-number-btn">Random</button>

<div id="random-number-container">
    <vc:random-number min="10" max="20"></vc:random-number>
</div>
