@model List<Message>

@{
    ViewData["Title"] = "MessageBDD";
}

@section nav
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="MessageDb" asp-action="Index">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="MessageDb" asp-action="CreateMessage">Créer Message</a>
    </li>
}

<h1 class="text-center border-1 border-dark">Messages</h1>

<div id="message-page-container">
    <vc:messages-table messages="@Model"></vc:messages-table>
</div>