@model AspExos.Models.Message

<div class="row">
    <p class="col">
        @Model.Emetteur
    </p>
    <p class="col">
        @Model.Contenu
    </p>
    <p class="col">
        @Model.Date
    </p>
    <p class="col">
        <a asp-action="GetMessage" asp-route-id="@Model.Id">Detail</a>
    </p>
</div>