@model IEnumerable<AspExos.Models.Message>

<h1>Tous les messages</h1>

<div class="flex-lg-row">
    @foreach (var message in Model)
    {
        <p class="flex-lg-column">
            @message.Emetteur
            @message.Contenu
            @message.Date
            <a asp-action="GetMessage" asp-route-id="@message.Id">Detail</a>
        </p>
    }
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>