@model AspExos.Models.Message

@{
    ViewData["Title"] = "Message";
}

<h1>Messages</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Message" asp-action="Form">Formulaire non typé</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Message" asp-action="FormMessage">Formulaire de message typé</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Message" asp-action="GetAllMessages">Voir tout les messages</a>
    </li>
</ul>