@model List<string>

<h1>Envoi d'une liste de string</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ListStringForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">string 1</label>
                <input type="text" class="form-control" name="stringList" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">string 2</label>
                <input type="text" class="form-control" name="stringList" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">string 3</label>
                <input type="text" class="form-control" name="stringList" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">string 4</label>
                <input type="text" class="form-control" name="stringList" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>
